/* 
Author: Jake Gomez 
Date: 08/21/2024 
File: hours.css
*/

table,
tr,
td {
  border: solid 1px;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #c1c1d6;
}

td:first-child {
  padding-right: 15px;
  min-width: 65px;
}

tr:nth-child(odd) {
  background-color: white;
}

th {
  background-color: #19002f;
  color: white;
}

main > p {
  color: #5839ba;
  padding: 15px;
}